* {
    padding: 0;
    margin: 0;
}

p {
    text-align: center;
}

#menu {
    padding: 20px;
    width: 80%;
    max-width: 500px;
    background-color: burlywood;
    margin-left: auto;
    margin-right: auto;
}

div {
    display: block;
    unicode-bidi: isolate;
}

body {
    padding: 40px;
    font-family: sans-serif;
    background-image: url(pexels-igor-haritanovich-814387-1695052.jpg);
    /* Adjust background image size */
    background-size: cover;
    /* Ensures it covers the entire screen */
    /* Optional properties */
    background-position: center;
    /* Centers the image */
    background-repeat: no-repeat;
    /* Prevents repeating */
    height: 150%;

}

h1 {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
}

.established,
.date {
    font-style: italic;
    align-content: center;
    width: auto;
    background-color: rgb(215.123, 52);
    margin-right: auto;
    margin-left: auto;
    margin-top: 0px;
}

.bottom-line {
    margin-bottom: 25px;

}

hr {
    height: 2px;
    background-color: brown;
    border-color: brown;
}

.coffee-element {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.coffee,
.icon {
    display: inline;
}

h2 {
    text-align: center;
    margin-top: 0px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}

img {
    width: 30px;
    height: 35px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.item p {
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: inline-block;
}

.flavor {
    width: 25%;
    text-align: left;
}

.price {
    width: 55%;
    text-align: right;
}

.dessert_element {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.dessert-tag {
    text-align: center;
    margin-top: 0px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}

.pie_icon {
    display: inline;
}

.item p {
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: inline-block;
}

.dessert {
    width: 25%;
    text-align: left;
}

footer {
    font-size: 14px;
}

a {
    color: black;
}

a:active {
    color: wheat;
}

a:hover {
    color: rgb(23, 2, 141);
}

a:visited {
    color: grey;
}

.address {
    margin-bottom: 5px;

}